body {
    background: url("../img/background.jpg") no-repeat;
    background-size: 1500px;
    background-attachment: fixed;
}

/* ============= Navbar section ============= */

.navbar {
    background: rgb(218, 136, 13);
    border: 0;
    border-radius: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 21;
  }

.logo {
    height: 100px;
    width: 110px;
}

.header {
    font-family: serif;
    margin-left: 30px;
    font-size: 30px;
    text-decoration: underline;
}

.form-control {
    border: 0;
    border-radius: 0;
    background-color: rgb(204, 133, 27);
    box-shadow: none;
}

/* ============= Body section ============= */

#animatedBooks {
    margin-top: 200px;
}

.flippingProcess {
    margin: 10px;
    float: left;
}

.displayPicture {
    height: 300px;
}

.infoButton {
    width: inherit;
    align-self: center;
}

.flippingProcess, .flippingProcess>.frontPage, .flippingProcess>.backPage {
    width: 240px;
    height: 300px;
}

.flippingProcess>.frontPage, .flippingProcess>.backPage {
    position: absolute;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flippingProcess>.frontPage {
    transform: perspective( 600px) rotateY( 0deg);
    text-align: center;
}

.flippingProcess>.backPage {
    transform: perspective( 600px) rotateY( 180deg);
    background: rgb(233, 152, 32);
}

.flippingProcess:hover>.frontPage {
    transform: perspective( 600px) rotateY( -180deg);
}

.flippingProcess:hover>.backPage {
    transform: perspective( 600px) rotateY( 0deg);
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f0bb4a;
    border-radius: 50%;
    border-top: 16px solid rgb(204, 133, 27);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}